:root {
  --primary: #00a3ff;

  --light-bg-1: #f5f5f5;
  --light-bg-0: #ffffff;
  --light-bg-2: #ffffff;
  --light-text-0: #010101;

  --dark-bg-0: #121212;
  --dark-bg-1: #181818;
  --dark-bg-2: #292929;
  --dark-text-0: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 100%;
  color: var(--text-0);
  background: var(--bg-0);
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
}

#chats-list {
  padding: 5px 0;
  max-height: 100vh;
  overflow: auto;
  border-right: 1px solid var(--bg-1);
  grid-auto-rows: max-content;
}

.chat-link {
  transition: all 50ms;
  color: var(--text-0);
  border: 1px solid transparent;
  text-decoration: none;
  padding: 4px 8px;
  margin: 1px 6px;
  display: block;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: fade-in 250ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chat-link:hover {
  scale: 1.05;
  border-color: var(--primary);
}

#chat-content {
  max-height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr auto;
}

#messages-list-wrapper {
  max-height: 100%;
  background: var(--bg-1);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

#messages-list,
#message-form {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
}

#message-form,
#message-input {
  background: var(--bg-0);
  color: var(--text-0);
}

#message-form {
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr max-content;
  transition: all 1000ms;
}

#message-input {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

#message-submit-button:disabled {
  background-color: var(--dark-bg-2);
}
#message-submit-button {
  border-radius: 8px;
  cursor: pointer;
  background: var(--primary);
  outline: none;
  color: var(--text-0);
  border: none;
  padding: 4px 8px;
  margin: 4px;
  margin-top: auto;
}

.primary-bg {
  background: var(--primary);
}

.message {
  border: 1px solid var(--bg-2);
  padding: 4px 8px;
  margin: 12px;
  width: fit-content;
  max-width: 80%;
  border-radius: 10px;

  pre {
    margin: 0;
    text-wrap: wrap;
  }
}

.role-assistant {
  background: var(--bg-2);
  color: var(--text-0);
  border-bottom-left-radius: 0;
}

.role-user {
  border-bottom-right-radius: 0;
  margin-left: auto;
  color: var(--light-bg-0);
  background: var(--primary);
}
