{{define "/home"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hermes</title>
    <link rel="stylesheet" href="/assets/stylesheet.css">
    <link rel="icon" href="/assets/icons/caduceus-staff.svg" type="image/svg">
    <script src="/assets/scripts/lib/events/server-events.mjs" type="module"></script>
    <script src="/assets/scripts/reload.mjs" type="module"></script>
    <script src="/assets/scripts/main.mjs" type="module"></script>
    <script src="/assets/legacy.js"></script>
    <script>
        new _Theme(_Settings.init(JSON.parse({{.WebSettings}}))).load();
    </script>
</head>

<body>
    <hermes-header></hermes-header>
    <hermes-scene></hermes-scene>
    <hermes-control-panel></hermes-control-panel>
</body>

</html>
{{end}}
